<footer class="footer fixed-bottom">
    <div class="container">
        <a class="btn-sm btn-info" target="_blank" href="https://github.com/LRAbbade/Blockchain-Visualizer">Fork me!</a>
    </div>
</footer>