<nav class="navbar navbar-dark bg-dark">
    <a href="/"><img id="logo-img" src="/images/icon-white-bg.png"></a>
    <a id="project-name" class="navbar-brand" target="_blank" href="https://github.com/LRAbbade/Blockchain-Visualizer">Blockchain
        Visualizer</a>
    <span><a href="/statistics"><i class="far fa-chart-bar fa-3x"></i></a></span>
</nav>