<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Blockchain Visualizer</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="/images/icon.png"/>
    </head>
    <body>

        <nav class="navbar navbar-dark bg-dark">
            <img id="logo-img" src="/images/icon-white-bg.png">
            <a id="project-name" class="navbar-brand" href="/">Blockchain Visualizer</a>
            <span></span>
        </nav>

        <div class="container fill">
            <div class="row">
                <div class="col-sm-4 block">
                    <p><strong>Hash:</strong> 14J9RFN9NU29DH3UDNODU391</p>
                    <p>Block Data</p>
                </div>
            </div>
        </div>

        <footer class="footer fixed-bottom">
            <div class="container">
                <a class="btn-sm btn-info" target="_blank" href="https://github.com/LRAbbade/Blockchain-Visualizer">Fork me!</a>
            </div>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
</html>
