<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Blockchain Visualizer</title>
    </head>
    <body>
        <h1>Blockchain Visualizer</h1>
        <h3>Hello world!</h3>
    </body>
</html>
