<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Blockchain Visualizer</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="/images/icon.png"/>
    </head>
    <body>

        <%- include partials/navbar.ejs %>

        <div class="scrolling-wrapper">
            
            <div class="block">
                <p class="break"><strong>Hash:</strong> <span class="lead"> 6496B46FEF6797201CCDE714D59DBE90ACD3077473F23D62B2AE1A86BDCBC2D3</span></p>
                <p><strong>Data:</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, amet. Reiciendis ea, ut nam, sed perferendis harum nisi fuga asperiores ducimus eaque eius non odit tempora ex dolorem cupiditate blanditiis?</p>
            </div>

            <div class="block">
                <p class="break"><strong>Hash:</strong> <span class="lead">6496B46FEF6797201CCDE714D59DBE90ACD3077473F23D62B2AE1A86BDCBC2D3</span></p>
                <p><strong>Data:</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, amet. Reiciendis ea, ut nam, sed perferendis harum nisi fuga asperiores ducimus eaque eius non odit tempora ex dolorem cupiditate blanditiis?</p>
            </div>
            <div class="block">
                <p class="break"><strong>Hash:</strong> <span class="lead">6496B46FEF6797201CCDE714D59DBE90ACD3077473F23D62B2AE1A86BDCBC2D3</span></p>
                <p><strong>Data:</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, amet. Reiciendis ea, ut nam, sed perferendis harum nisi fuga asperiores ducimus eaque eius non odit tempora ex dolorem cupiditate blanditiis?</p>
            </div>
            <div class="block">
                <p class="break"><strong>Hash:</strong> <span class="lead">6496B46FEF6797201CCDE714D59DBE90ACD3077473F23D62B2AE1A86BDCBC2D3</span></p>
                <p><strong>Data:</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, amet. Reiciendis ea, ut nam, sed perferendis harum nisi fuga asperiores ducimus eaque eius non odit tempora ex dolorem cupiditate blanditiis?</p>
            </div>
            <div class="block">
                <p class="break"><strong>Hash:</strong> <span class="lead">6496B46FEF6797201CCDE714D59DBE90ACD3077473F23D62B2AE1A86BDCBC2D3</span></p>
                <p><strong>Data:</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, amet. Reiciendis ea, ut nam, sed perferendis harum nisi fuga asperiores ducimus eaque eius non odit tempora ex dolorem cupiditate blanditiis?</p>
            </div>
            <div class="block">
                <p class="break"><strong>Hash:</strong> <span class="lead">6496B46FEF6797201CCDE714D59DBE90ACD3077473F23D62B2AE1A86BDCBC2D3</span></p>
                <p><strong>Data:</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, amet. Reiciendis ea, ut nam, sed perferendis harum nisi fuga asperiores ducimus eaque eius non odit tempora ex dolorem cupiditate blanditiis?</p>
            </div>
            <div class="block">
                <p class="break"><strong>Hash:</strong> <span class="lead">6496B46FEF6797201CCDE714D59DBE90ACD3077473F23D62B2AE1A86BDCBC2D3</span></p>
                <p><strong>Data:</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, amet. Reiciendis ea, ut nam, sed perferendis harum nisi fuga asperiores ducimus eaque eius non odit tempora ex dolorem cupiditate blanditiis?</p>
            </div>
        </div>

        <%- include partials/footer.ejs %>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
</html>
